<html>
<head>
	<title>Rails API Token Auth Tiddle + Devise + AngularJS</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp">
	
	<div ng-controller="myCtrl" ng-init="user_credentials()">
		<div ng-show="user_credentials()" class="ng-cloak">
			<button type="button" ng-click="logout()">Log out</button>&nbsp;
			<button type="button" ng-click="getPosts()">Get Posts</button><br><br>
		</div>

		<form ng-submit="login()">
			<label>Email</label><br>
			<input type="text" ng-model="user.email"><br>
			<label>Password</label><br>
			<input type="text" ng-model="user.password"><br><br>
			<input type="submit" value="Login"><br>
		</form>
	</div>

	<script src="js/angular.min.js"></script>
	<script src="js/angular-local-storage.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/my_controller.js"></script>
	<script src="js/auth_factory.js"></script>
	<script src="js/post_factory.js"></script>
</body>
</html>
