<html>
<head>
	<title>Rails API Token Auth Tiddle + Devise + AngularJS</title>
</head>
<body ng-app="myApp">
	
	<div ng-controller="myCtrl">
		<form ng-submit="login()">
			<label>Email</label><br>
			<input type="text" ng-model="user.email"><br>
			<label>Password</label><br>
			<input type="text" ng-model="user.password"><br><br>
			<input type="submit" value="Login"><br>
		</form>
	</div>

	<script src="js/angular.min.js"></script>
	<script src="js/angular-local-storage.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
